body
{
    
    background-color: lemonchiffon;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    text-align: center;
}

header
{
    background-color: rgba(133, 8, 81, 0.904);
    width: 100%;
    height: 45px;
    padding-top: 15px;
}
.nav a
{
   
    list-style: none;
    text-decoration: none;
    font-size: 17px;
    margin-left: 20px;
    color: rgba(248, 248, 250, 0.959);

}

.ini img
{
    width: 200px;
    margin-top: 10px;
    text-align: center;
}
header h1
{
    margin-top: 19px;
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 15px;
}

.ini h1
{
    color: rgba(82, 156, 252, 0.952);
    text-align: center;
    font-size: 3.5em;
    margin-top: 10px;
    
}

.ini h2
{
   
    color: rgba(211, 92, 165, 0.877);
    text-align: center;
    font-size: 2.5em;
    padding-bottom: 0;
    margin-top: -15px;
}

.card
{
    border-radius: 4px;
    background-color:  lemonchiffon;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-top: 10px;
}

.componente img
{
    width: 150px;
}

h1
{
    font-size: 24px;
    color: rgb(4, 3, 8);
}

.sensores
{
    padding: 0;
}
.sensores h1
{
    color: rgb(60, 70, 80);
}

.contenedor
{
    font-size: 10px;
}
.ventana h1
{
    color: rgb(4, 2, 15);
}
.puertas1 h1
{
    font-size: 2em;
}

.logo
{
    width: 300px;
    margin-top: 50px;
    margin-bottom: -30px;
}

.usuario
{
    margin-top: 200px;
    width: 100%;
}

#incorrecto
{
    color: red;
}

.titulo
{
    margin-top: 30px;
}
